node_modules
tsconfig.json
yarn.lock

#firebase
.firebaserc
firebase.jsonwebtoken
firestore.indexes.jsonwebtoken
firestore.rules
storage.rules

#function firebase
/functions

# next.js 
next-env.d.ts
/.next/

# production 
/build

# local env files
.env.local


# vercel
.vercel